@page "/Login"

@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<div>

    <main class="main-content  mt-0">
        
            <section>
                <div class="page-header min-vh-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                            <div class="card  z-index-0">
                                    <EditForm Model="userLoginDTO" OnValidSubmit="HandleLogin">
                                    <div class="card-header pb-0 text-start">
                                        <h4 class="font-weight-bolder">
                                            @if (!lange)
                                            {
                                                <span>Sign in</span>
                                            }
                                            else
                                            {
                                                <span>Zaloguj się</span>
                                            }
                                            
                                          
                                        </h4>
                                        <p class="mb-0">
                                            @if (!lange)
                                            {
                                                <span >Enter your email and password to sign in</span>
                                            }
                                            else
                                            {
                                                <span >Wpisz swój email i hasło aby się zalogować</span>
                                            }
                                            
                                            
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <p>Email:</p>
                                            <InputText @bind-Value="userLoginDTO.Email" id="email" class="form-control form-control-lg"></InputText>
                                        </div>
                                        <div class="mb-3">
                                            <p>
                                                @if (!lange)
                                                {
                                                    <span >Password:</span>
                                                }
                                                else
                                                {
                                                    <span >Hasło:</span>
                                                }
                                                
                                               
                                            </p>
                                            <InputText @bind-Value="userLoginDTO.Password" id="password" class="form-control form-control-lg" type="password"></InputText>
                                        </div>
                                        <div class="mb-3 Danger">
                                            <p>
                                                @if (!lange)
                                                {
                                                    <font color="#f5365c">@message</font>
                                                }
                                                else
                                                {
                                                    @if(message != "")
                                                    {
                                                        <font color="#f5365c">Niepoprawne hasło</font>
                                                    }
                                                }

                                                

                                            </p>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">
                                                @if (!lange)
                                                {
                                                    <span >Sign in</span>
                                                }
                                                else
                                                {
                                                    <span >Zaloguj się</span>
                                                }
                                               
                                                
                                            </button>
                                        </div>
                                        
                                    </div>
                                    <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                        <p class="mb-4 text-sm mx-auto">
                                            @if (!lange)
                                            {
                                                <span >Don't have an account?</span>
                                            }
                                            else
                                            {
                                                <span >Nie masz konta</span>
                                            }
                                           
                                            
                                            <a href="register" class="text-primary text-gradient font-weight-bold">
                                                @if (!lange)
                                                {
                                                    <span >Sign up</span>
                                                }
                                                else
                                                {
                                                    <span >Zarejestrój się</span>
                                                }
                                                
                                                
                                            </a>
                                        </p>
                                    </div>
                                </EditForm>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
    </main>
    
</div>


@code {

    [CascadingParameter]
    public bool lange { get; set; }
    private UserLoginDTO userLoginDTO = new UserLoginDTO();
    private string message = string.Empty;

    private async Task HandleLogin()
    {


        var result = await AuthService.Login(userLoginDTO);
        if (result.Success)
        {
            await LocalStorageService.SetItemAsync("authToken", result.Data);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            
            NavigationManager.NavigateTo("/");
        }
        else
        {
            message = result.Message;
            userLoginDTO.Password = "";
        }
    }

}
